{{#if wrapperClass}}
    <div class={{wrapperClass}}>
      {{#unless template}}
        {{form-group label=label yieldInLabel=yieldInLabel
          labelWrapperClass=labelWrapperClass labelViewName=labelViewName labelClass=labelClass
          help=help helpViewName=helpViewName shouldShowErrors=shouldShowErrors
          controlView=controlView controlViewName=controlViewName controlWrapper=controlWrapper
          cid=cid validationIcons=validationIcons mainComponent=this form=form}}
      {{else}}
        {{yield}}
      {{/unless}}
    </div>
{{else}}
  {{#unless template}}
    {{form-group label=label yieldInLabel=yieldInLabel
      labelWrapperClass=labelWrapperClass labelViewName=labelViewName labelClass=labelClass
      help=help helpViewName=helpViewName shouldShowErrors=shouldShowErrors
      controlView=controlView controlViewName=controlViewName controlWrapper=controlWrapper
      cid=cid validationIcons=validationIcons mainComponent=this form=form}}
  {{else}}
    {{yield}}
  {{/unless}}
{{/if}}
