{{#if form.isHorizontal}}
  <div class={{horiClass}}>
    <button
      class={{classes}}
      type={{type}}
      disabled={{disabled}} {{action "submit"}}
    >
      {{text}}
    </button>
  </div>
{{else}}
  <button
    class={{classes}}
    type={{type}}
    disabled={{disabled}} {{action "submit"}}
  >
    {{text}}
  </button>
{{/if}}
