{{#if wrapperClass}}
    <div class={{wrapperClass}}>
      {{#unless hasBlock}}
        {{form-group label=label yieldInLabel=yieldInLabel
          labelWrapperClass=labelWrapperClass labelClass=labelClass
          help=help shouldShowErrors=shouldShowErrors controlWrapper=controlWrapper
          cid=cid validationIcons=validationIcons mainComponent=this form=form}}
      {{else}}
        {{yield}}
      {{/unless}}
    </div>
{{else}}
  {{#unless hasBlock}}
    {{form-group label=label yieldInLabel=yieldInLabel
      labelWrapperClass=labelWrapperClass labelClass=labelClass
      help=help shouldShowErrors=shouldShowErrors controlWrapper=controlWrapper
      cid=cid validationIcons=validationIcons mainComponent=this form=form}}
  {{else}}
    {{yield}}
  {{/unless}}
{{/if}}
