{{#if form.isHorizontal}}
    <div class={{horiClass}}>
        <button class={{classes}} disabled={{disabled}}>{{text}}</button>
    </div>
{{else}}
    <button class={{classes}} disabled={{disabled}}>{{text}}</button>
{{/if}}
