
{{#if label}}
    {{#if yieldInLabel}}
        {{#if labelWrapperClass}}
            <div class={{labelWrapperClass}}>
                {{control-within-label label=label extraClass=labelClass
                  controlWrapper=controlWrapper cid=cid mainComponent=mainComponent form=form}}
            </div>
        {{else}}
            {{control-within-label label=label extraClass=labelClass
              controlWrapper=controlWrapper cid=cid mainComponent=mainComponent form=form}}
        {{/if}}
    {{else}}
        {{#if labelWrapperClass}}
            <div class={{labelWrapperClass}}>
                {{em-form-label text=label extraClass=labelClass form=form}}
                {{form-group-control controlWrapper=controlWrapper cid=cid mainComponent=mainComponent form=form}}
            </div>
        {{else}}
            {{em-form-label text=label extraClass=labelClass form=form}}
            {{form-group-control controlWrapper=controlWrapper cid=cid mainComponent=mainComponent form=form}}
        {{/if}}
    {{/if}}
{{else}}
  {{form-group-control controlWrapper=controlWrapper cid=cid mainComponent=mainComponent form=form}}
{{/if}}

{{#if validationIcons}}
    <span class="form-control-feedback"><i class={{mainComponent.validationIcon}}></i></span>
{{/if}}

{{!Currently no errors when layout is inline}}
{{#unless form.isInline}}
    {{#if shouldShowErrors}}
        {{em-form-control-help text=help mainComponent=mainComponent form=form}}
    {{/if}}
{{/unless}}
