<select onchange={{action "change"}} class="form-control {{mainComponent.elementClass}}" id={{mainComponent.id}} required={{mainComponent.required}} size={{mainComponent.size}} autofocus={{mainComponent.autofocus}} disabled={{mainComponent.disabled}} multiple={{mainComponent.multiple}}>
{{#if mainComponent.prompt}}
  <option value="" selected={{eq "" selectedValue}}>
    {{mainComponent.prompt}}
  </option>
{{/if}}
{{#each (get mainComponent "content") key="@index" as |item|}}
  <option value="{{get item mainComponent.optionValuePath}}" selected={{eq (get item mainComponent.optionValuePath) selectedValue}} disabled={{get item mainComponent.optionDisabledPath}}>
    {{get item mainComponent.optionLabelPath}}
  </option>
  {{/each}}
</select>
