<h3>Select</h3>
Selectbox let a user select one item of a multi pre defined options.

<h2>Markup/Code</h2>
<h3>Template Markup</h3>
<div class="well line-example">
    <pre><code class="handlebars">
\{{form.select
    label="Gender"
    property="gender"
    content=genderOptions
    optionValuePath="id"
    optionLabelPath="name"
    prompt="--select--"}}
    </code></pre>
</div>
<h3>Controller Code</h3>
<div class="well line-example">
    <pre><code class="coffeescript">
App.ControlsSelectController = Ember.Controller.extend({
    // Ember.A ist only neccessary when prototype-extensions are turned off
    genderOptions: Ember.A([
        {id: 'M', name: 'Male'}
        {id: 'F', name: 'Female'}
        {id: 'O', name: 'Other'}
    ])
})
    </code></pre>
</div>

<h2>Result</h2>
<div class="well line-example">
    {{#em-form model=model submitButton=false as |form|}}
        {{form.select
            label="Gender"
            content=genderOptions
            optionValuePath="id"
            optionLabelPath="name"
            prompt="--select--"
            property='single'
        }}
    {{/em-form}}
</div>
<div class="well line-example">
    Single: {{model.single}}
</div>

<h2>Result with multiple=true</h2>
<div class="well line-example">
{{#em-form model=model submitButton=false as |form|}}
    {{form.select
        label="Gender"
        content=genderOptions
        optionValuePath="id"
        optionLabelPath="name"
        multiple=true
        prompt="--select--"
        property='multi'
    }}
{{/em-form}}
</div>
<div class="well line-example">
    Multi: {{model.multi}}
</div>

<h2>Result with optionDisabledPath=disabled</h2>
<div class="well line-example">
{{#em-form model=model submitButton=false as |form|}}
    {{form.select
        label="Gender"
        content=genderOptions
        optionValuePath="id"
        optionLabelPath="name"
        optionDisabledPath="disabled"
        prompt="--select--"
        property='third'
    }}
{{/em-form}}
</div>
<div class="well line-example">
    Disabled: {{model.third}}
</div>

<h2>Parameters</h2>
<table class="table table-striped">
    <tr><th>Param name</th><th>Description</th><th>Default</th></tr>
    <tr><td>label</td><td>The label of the input</td><td>A humanized form of the property name</td></tr>
    <tr><td>property</td><td>The property name in the model instance bound to the form</td><td>none, value is required.</td></tr>
    <tr><td>prompt</td><td>Prompt a default selection with the given value</td><td>none</td></tr>
    <tr><td>content</td><td>an array of strings/objects where each element is displayed as a possible selection</td><td>none</td></tr>
    <tr><td>optionLabelPath</td><td>the path on each object to the desired property to be displayed as the label of the selection</td><td>none, required.</td></tr>
    <tr><td>optionValuePath</td><td>the path on each object to the desired property value of the selection</td><td>none, required.</td></tr>
    <tr><td>optionDisabledPath</td><td>the path on each object which distinguishes whether to disable the element or not</td><td>none, optional.</td></tr>
    <tr><td>multiple</td><td>If true multiple item selection will be supported.</td><td>false, optional.</td></tr>
    <tr><td>disabled</td><td>Standard HTML5 disabled attribute.</td><td>null</td></tr>
    <tr><td>required</td><td>Standard HTML5 required attribute.</td><td>null</td></tr>
    <tr><td>autofocus</td><td>Standard HTML5 autofocus attribute.</td><td>null</td></tr>
    <tr><td>size</td><td>Standard HTML5 size attribute.</td><td>0</td></tr>
</table>

