<h1>Getting Started</h1>
<h2>Installation</h2>

<i>Ember Rapid Forms</i> is an Ember CLI module and can be simply installed by:

<pre><code class="bash">npm install --save-dev ember-rapid-forms</code></pre>

<h2>Quick example</h2>

<h3>Given the following controller:</h3>
<div class="well line-example" {{! template-lint-disable-tree }}>
  {{#code-block language="javascript"}}
MyController = Em.Controller.extend({
  genderOptions: Ember.A([
    {id: 'M', name: 'Male'}
    {id: 'F', name: 'Female'}
    {id: 'O', name: 'Other'}
  ]),
  actions:{
    submit(){
      alert ("Submitted!");
    }
  }
})
  {{/code-block}}
</div>


<h3>And the following model:</h3>
<div class="well line-example" {{! template-lint-disable-tree }}>
  {{#code-block language="javascript"}}
import Ember from 'ember';
import DS from 'ember-data';
import { validator, buildValidations } from 'ember-cp-validations';
import InputErrors from 'ember-rapid-forms/mixins/input-errors';
import helper from 'ember-rapid-forms/mixins/ember-cp-validations-helper';

const Validations = buildValidations({
  fullName: [
    validator('format', {
      regex: /^[^\s]+(\s[^\s]+)+$/,
      message: 'enter a first and last name'
    }),
    validator('presence', true)
  ],
  password: [
    validator('presence', true),
    validator('length', {
      min: 6
    })
  ],
  comment: validator('presence', true),
  gender: validator('presence', true)
});

const person = DS.Model.extend(Validations, InputErrors, helper, {
  firstName: DS.attr('string', { defaultValue: null }),
  lastName: DS.attr('string', { defaultValue: null }),
  password: DS.attr('string'),
  comment: DS.attr('string'),
  active: DS.attr('boolean'),
  gender: DS.attr('string'),
  nameHasValue: Ember.computed('fullName', {
    get() {
      return !!this.get('fullName');
    }
  }),

  fullName: Ember.computed('firstName', 'lastName', {
    //jshint unused:false
    get() {
      if (this.get('firstName')) {
        return `${this.get('firstName')} ${this.get('lastName')}`;
      }
      else {
        return null;
      }
    },
    set(key, value) {
      let [firstName, lastName] = value.split(/\s+/);
      firstName = firstName ? firstName : null;
      lastName = lastName ? lastName : null;
      this.setProperties({ firstName, lastName });
      return value;
    }
  }),

  asjson: Ember.computed('fullName', 'firstName', 'lastName', 'password', 'comment', 'active', 'gender', function() {
    return "fullName: " + (this.get('fullName')) + ", firstName: " + (this.get('firstName')) + ", lastName: " + (this.get('lastName')) + ", password: " + (this.get('password')) + ", comment: " + (this.get('comment')) + ", active: " + (this.get('active')) + ", gender: " + (this.get('gender'));
  })
});
  {{/code-block}}
</div>

<i>Note: for validation support you need: https://github.com/offirgolan/ember-cp-validations</i>

<h3>With this template:</h3>
<div class="well line-example" {{! template-lint-disable-tree }}>
  {{#code-block language="handlebars"}}
\{{#em-form model=model formLayout=layout as |form|}}
  \{{form.input property="fullName" label="Full Name" placeholder="Enter a full name..." canShowErrors=model.visibleErrors.fullName}}
  \{{form.input property="password" label="Password" placeholder="And password..." type="password" disabled=nameHasValue canShowErrors=model.visibleErrors.password}}
  \{{form.text property="comment" label="Comment" placeholder="Comment please.." rows=4 canShowErrors=model.visibleErrors.comment}}
  \{{form.select property="gender" label="Gender" prompt="-select-" content=genderOptions optionValuePath="id" optionLabelPath="name" canShowErrors=model.visibleErrors.gender}}
  \{{form.checkbox property="active" label="Active?" canShowErrors=model.visibleErrors.active}}
  &lt;div class="form-group"&gt;
    &lt;button class="btn btn-default" \{{ action "validate" }}&gt;Run Validations&lt;/button&gt;
    &lt;button class="btn btn-default" \{{ action "clearValidations" }}&gt;Clear Validations&lt;/button&gt;
  &lt;/div&gt;
\{{/em-form}}
  {{/code-block}}
</div>

<h3>I18n:</h3>
<p>Ember Rapid Forms is compatible with Ember-i18n: https://github.com/jamesarosen/ember-i18n</p>
<p>The key "modelName.property" is searched and used if defined.</p>
<p>For example "person.firstName" will be used if the corresponding key is defined.</p>


<h3>The result would be:</h3>

<div class="well line-example">
  {{form-sample model=model}}
</div>
